@use '../../styles/partial/mixins' as *;

.console{
    width: 50%;
    display: flex;
    font-size: 0.8rem;
}

.code{

    &__import{
        margin-bottom: 1rem;
    }

    &__component{
        margin-left: 1rem;
        height: 3rem;
        width: 20rem;
    }
}