@use './animations' as *;
@use './colors' as *;

@mixin tablet {
    @media (min-width:48rem) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 80rem){
        @content;
    }
}

    @mixin large-desktop {
        @media (min-width: 90rem){
            @content;
        }
}

@mixin popup {
    width: 25rem;
    height: 10rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

@mixin button-default {
    background-color: $primaryDark;
    color: white;
    font-weight: 800;
    font-size: 1rem;
    border-radius: 0.25rem;

}

@mixin button-animation {

        &:hover{
            animation: pulsing 1.5s linear infinite both;
        } 

        &:active{
            color: #d6ccc2;
        }

}