@use '../../styles/partial/colors' as *;
@use '../../styles/partial/mixins' as *;
.container{

    &__context {
        display: flex;
        align-items: center;
        margin: 1rem;
        background-color: white;
        height: 100%;
    }
    
    &__title{
        text-align: center;
        color: $primaryDark;
        height: 100%;
        margin: 0;
        font-family: 'Pacifico', 'sans-serif';
        font-size: 4rem;
    }

    &__left{
        width: 60%;
    }

    &__right{
        margin: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 40%;
    }

    &__textbox{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__text{
        text-align: center;
        padding: 2rem 0;
    }

    &__cat-container{
        margin: 2rem 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}

.link{
    @include button-default;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.25rem 1rem;
    margin: 1rem 0;
}