.nav {
    height: 2rem;
    background-color: bisque;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}

.help {
    &__container{
        width: 10rem;
        background-color: white;
        padding: 1rem;
    }

}