@use '../../styles/partial/mixins' as *;

.nav {
    height: 2rem;
    background-color: bisque;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;

    @include desktop{
        padding: 2rem 5rem;
    }

    &__tutorial-container{
        border: 2px solid red;
        padding: 1rem;
        width: 50vw;
        height: 50vh

    }
}

.tutorial {

    &__step{
        padding: 0.5rem;

    }
}

.modal{
    &__button{
        color: red;
    }
}