@use '../../styles/partial/mixins' as *;
@use '../../styles/partial/colors' as *;

.nav {
    height: 2rem;
    background-color: bisque;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;

    &__button{
        background-color: $secondaryDark;
        color: white;
        font-weight: 800;
        font-size: 1rem;
        border-radius: 0.25rem;
    }
}

.tutorial {

    &__step{
        padding: 0.5rem;

    }
}
