@use '../../styles/partial/mixins' as *;
@use '../../styles/partial/colors' as *;


.endgame {
    height: 100vh;

    @include large-desktop{
        width: 100%;
        margin: 1rem;
    }

    &__back-button{
        font-size: 1.5rem;
    }
}

