@use '../../styles/partial/colors' as *;


.footer {
    background-color: $secondaryDark;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;

    &__right{
        text-align: right;
    }
    
    &__icons-container {
        display: flex;
        justify-content: end;
    }

    &__icons{
        font-size: 2rem;
        padding: 0.25rem;
    }

    &__link{
        font-weight: 600;
        text-decoration: none;
        color: black;
    }

}