@use '../../styles/partial/mixins' as *;
@use '../../styles/partial/typography' as *;

.game{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container{
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
    }

    &__top-container{
        display: flex;
        margin: 1rem 0;
        width: 95%;
    }

    &__bottom-container{
        display: flex;
        width: 95%;
        background-color: white;
        padding: 1rem;
    }

    &__instruction{
        width: 50%;
        display: flex;
        flex-direction: column;

        @include desktop{
            flex-direction: row;
        }
    }
}


.popup {
    &__right{
        @include popup;
        background-color: rgba(131, 197, 190,1);
    }
    &__wrong{
        @include popup;
        background-color: rgba(245, 202, 195,1);
    }
}
