.room {
    background: linear-gradient(135deg, rgba(160,117,84,1) 15%, rgba(210,236,237,1) 15%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__bedroom{
        width: 100%;
        background-color:#C8C7D6;
        position: relative;
        border: 2px solid #A07554;
        margin-left: 2rem;
        padding: 1rem;
    }

    &__sandbox{
        background-color: #f5ebe0;
        width: 6rem;
        height: 6rem;
        margin: 0;
        border-radius: 1.5rem;
        border: 6px solid #d2cdc6;
    }
}
