@use '../../styles/partial/animations' as *;

.lobby{
    width: 100%;
    height: 50%;
    background: rgb(208,184,172);
    background: linear-gradient(135deg, rgba(160,117,84,1) 12%, rgba(227,233,221,1) 10%);
    border-right: 5rem solid #B99579;
    border-bottom: 2px solid #A07554;
    position: relative;

    &__monitor{
        background-color: #464649;
        border: 6px solid #d2cdc6;
        width: 10rem;
        height: 6rem;
        padding: 1rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    &__msg {

        color: white;
        animation: flicker-in-1 2s linear both;

        &--bold{
            font-weight: 800;
        }
    }

    &__laptop-cat{
        top: 5rem;
        left: 5rem;

    }
    &__reading-cat{
        top: -2rem;
        left: 15rem;

    }
    &__grey-cat{
        top: -5rem;
        left: 32rem;
    }
    &__catfood{
        top:2rem;
    }
    &__sleepcat{
        top:-15rem;
        left:5rem;
    }
    &__stretchcat{
        top: -16rem;
        left:21rem;

    }

}