.lobby{
    width: 100%;
    height: 50%;
    background: rgb(208,184,172);
    background: linear-gradient(135deg, rgba(160,117,84,1) 12%, rgba(227,233,221,1) 10%);
    border-right: 5rem solid #B99579;
    border-bottom: 2px solid #A07554;
    position: relative;

    &__monitor{
        background-color: #F7F7F9;
        border: 6px solid #d2cdc6;
        width: 10rem;
        padding: 1rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    &__msg {
        &--bold{
            font-weight: 800;
        }
    }

    &__laptop-cat{
        top: 5rem;
        left: 5rem;

    }
    &__reading-cat{
        top: 1rem;
        left: 15rem;

    }
    &__grey-cat{
        top: 8rem;
        left: 22rem;
    }
    &__catfood{
        top:2rem;
    }
    &__sleepcat{
        top:10rem;
        left:-16.8rem;
    }

}