@use './styles/partial/typography' as *;

*,::before,::after{
    box-sizing: border-box;
}

body {
    margin: 0;
}

pre{
    margin:0;
}

.cat{
    height: 4rem;
    position: relative;

    &__hide {
        visibility: hidden;
    }

    &__appear{
        visibility: visible;
    }
}

