@use './styles/partial/typography' as *;
@use './styles/partial/animations' as *;
@use './styles/partial/colors' as *;


*,::before,::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fcfbf9;
    background-image: radial-gradient( ellipse farthest-corner at 4px 4px , #ffe1a5, #ffe1a5 30%, #fcfbf9 30%);
    background-size: 4px 4px;
}

pre{
    margin:0;
}

button, a{
    cursor: pointer;
}

.cat{
    height: 3.5rem;
    position: relative;
}

.figure{
    width: 4rem;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appear {
    display: block;
    animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.disappear {
    display: none;
}

.bounce {
    animation: bounce 1s linear infinite;
}

.button{
    background-color: white;
    border: 1px solid $primaryDark;
}

.popup {
    &__button{
    width: 8rem;
    background-color: white;
    border: none;
    margin: 0.25rem 0;

    }
}

.room__name{
    background-color: white;
    width: 5rem;
    padding: 0.1rem;
    text-align: center;
}