@use '../../styles/partial/colors' as *;
@use '../../styles/partial/mixins' as *;
.home{

    &__container {
        display: flex;
        align-items: center;
        margin: 1rem;
        height: 100vh;
    }
}