.home{
    &__cafe-name{
        text-align: center;
        color: #F0D7DF;
        height: 100%;
        margin: 0;
        padding: 1rem 0;
        font-family: 'Pacifico', 'sans-serif';
        font-size: 4rem;
    }
}